body {
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oleo Script', system-ui;
    font-family: 'Open Sans', sans-serif;
}

.header-section {
    background-color: #FFF8F3;
    background-image: url('../Image/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom 4px right;

}

.Menu {
    display: flex;
    justify-content: space-between;
    padding-left: 186px;

}

.Mary {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

span {
    color: #FD6E0A;
}

a {
    text-decoration: none;
}

.navigation-bar-container {
    display: flex;
    gap: 45px;
    list-style: none;
    margin-top: 50px;
    padding-right: 230px;
}

.navigation-bars {
    padding-top: 18px;
    font-size: 20px;
    font-weight: 400px;
    color: #474747;
}

.Hire-me {
    width: 150px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    flex-shrink: 0;
    color: white;

}

.Bannar {
    padding: 25px 30px 0px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Banner-greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
}

.Banner-profile {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
}

.Bannar-details {
    ccolor: var(--Dark-03, #757575);
    font-size: 14px;
    font-weight: 400;
    max-width: 500px;
    /* 166.667% */
}

.Download {
    width: 200px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    flex-shrink: 0;
    color: white;

}

.Contact {
    color: #FD6E0A;
    width: 160px;
    height: 64px;
    /* text-align: center; */
    /* font-family: Open Sans; */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.Profile-Picture {
    width: 584px;
    height: 676px;
}

.developer-image {
    position: relative;
    left: 50%;

}

/* end of Header */

/* Start of Main section */
main {
    width: 1500px;
    margin: 0px auto;

}

/* about section :start */
.about {
    margin: 110px 220px;
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* max-width: 827px */
}

.About-info-container {
    display: flex;
    justify-content: space-evenly;
    
    
}
.about-info{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}