*{
    margin: 0px;    
    padding: 0px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    word-spacing: 35px;
    letter-spacing: 8px;
    height: 120px;
    border-bottom: 30px solid white;
    padding-bottom: 10px;
    background-image: url('../Image/Header2.jpg');
    background-repeat:no-repeat;
    backface-visibility: visible;
    background-size:100%;
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oleo Script', system-ui;
    color:rgb(84, 214, 214);
}

u{
    display: inline-block;
}

img{
    height: 95vh;
    width: 142.5vh;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Background{
    /* margin-left: 50px; */
    background-color: rgba(30, 30, 189, 0.274);
    height: 90vh;
    width: 69vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
    float: left; 
    padding: 15px;
}

h2{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    border-style:ridge;
    background: linear-gradient(32deg, orangered, rgba(231, 231, 119, 0.925), rgba(194, 178, 134, 0.788));
    border: 10px solid orangered;
    height: 300px;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    font-family: 'Oleo Script', system-ui;
    font-size: 40px;   
    
    padding: 20px;
   
}

span{
    display: flex;
    flex-direction: column;
    /* flex-directi on: column; */
    margin-top: 17px;
    padding: 8px;
    text-shadow: 6px 6px 8px;
    color: rgba(83, 125, 160, 0.548);
    outline: 8px inset;
    font-size: 35px;
    
    
}

#meet{
    margin-top: 25px;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(172, 61, 61);
    margin-top: 20px;
    padding-top: 5px;
    margin-bottom: 0px;
    
    /* box-shadow: 5px 5px 9px; */
}

a{
    margin: 50px;
    height: min-content;
    Padding: 10px;
    border: 3px inset #caab45ec;
    font-size: xx-large;
    color:cornsilk;
    background-color:#caab45ec;
    text-decoration: none;
}

a:hover {
    background: cornsilk;
    color: #caab45ec;
    border: 6px unset cornsilk;
}

.footer{
    width: 369vh;
    font-size: 12px;
    display: block;
    justify-content: left bottom;
    align-items: left bottom;
    background-color: aquamarine;
}

body{
    margin: 4px;
    
    display: inline-flexbox;
}

b{
    text-align: right;
}